* {
  margin: 0px;
  padding: 0px;
  font-family: 'Red Hat Display', sans-serif;
}

html {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #02212b;
}

/*-----## Back Botton ##-----*/
.back-btn a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
 	padding: 100px 15px 15px 15px;
 	background-color: #02212b;
 	font-size: 18px;
  	font-weight: 600;
  	color: #fff;
}

.back-btn a img {
	margin-right: 10px;
}

/*-----## Section Projects ##-----*/
.projects {
 	background-color: #02212b;
 	display: block;
 	padding: 15px 15px 45px 15px;
}

.projects-card {
	background-color: #f3f8fb;
	border-radius: 8px;
	margin-top: 15px;
}

.projects-card img {
	background-color: skyblue;
	width: 100%;
	border-radius: 8px;
}

.projects-card h4 {
	padding: 15px 15px 0px 15px;
}

.projects-card p {
	padding: 15px;
}


/*-----## Responsive Design ##-----*/
@media screen and (min-width: 768px) {
	.projects {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 25px;
 		padding: 15px 100px 45px 100px;
	}

}

@media screen and (min-width: 1024px) {
	/*-----## Back Botton ##-----*/
	.back-btn a {
	 	padding: 100px 80px 15px 90px;
	}

	/*-----## Section Projects ##-----*/
	.projects {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 25px;
 		padding: 15px 120px 45px 120px;
	}
}

@media screen and (min-width: 2160px) {
  	/*-----## Back Botton ##-----*/
	.back-btn a {
	 	padding: 100px 400px 15px 400px;
	}

	/*-----## Section Projects ##-----*/
	.projects {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 25px;
 		padding: 15px 400px 45px 400px;
	}
}