* {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  overflow-x: hidden;
}

.figura img{
  position: absolute;
  width: 100%;
}

.logo {
  color: #fff;
  font-size: 25px;
  border-bottom: 1px solid #fff;
}

.main {
  display: flex;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 85%;
  height: 60px;
  align-items: center;
}

.nav-menu ol {
  display: flex;
}

.nav-menu ol li a{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 0 0 0 40px;
  text-decoration: none;
}

.content-main {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-top: 150px; 
}

.presentacion {
  margin-top: 20px;
}

.presentacion h1 {
  font-size: 35px;
  font-weight: 800;
  color: #fff;
}

.presentacion p {
  margin-top: 25px;
  color: #fff;
  width: 300px;
  font-size: 22px;
}

.portafolio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 45px;
  background-color: #02212b;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-top: 145px;
  cursor: pointer;
}

.portafolio-btn a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.banner img {
  width: 400px;
  height: 400px;
}

.redes {
  display: flex;
  position: absolute;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 55px;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgba(168, 168, 168, 0.1), 0px 4px 4px rgba(152, 152, 152, 0.2);
  border-radius: 8px;
  top: 620px;
}

.gitlab img,
.twitter img,
.github img,
.instagram img {
  width: 28px;
}

@media screen and (max-width: 1024px) {
  .figura img{
    width: 120%;
  }
  
  .redes {
    top: 700px;
  }
}

@media screen and (max-width: 768px) {
  .figura img{
    width: 185%;
  }
  
  .presentacion h1 {
    font-size: 30px;
  }
  
  .presentacion p {
    font-size: 22;
  }
  
  .portafolio-btn {
    margin-top: 110px;
  }
  
  .banner img {
    margin-top: 15px;
    width: 320px;
    height: 320px;
  }
  
  .redes {
    top: 600px;
  }
}

@media screen and (max-width: 480px) {
  .figura img{
    width: 245%;
    margin-left: -35px;
  }
  
  .presentacion {
    width: 50%; 
  }
  
  .presentacion h1 {
    font-size: 25px;
  }
  
  .presentacion p {
    font-size: 18px;
    width: 100%;
  }
  
  .portafolio-btn {
    margin-top: 55px;
    width: 110px;
    height: 35px;
  }
  
  .portafolio-btn a {
    font-size: 16px
  }
  
  .redes {
    top: 500px;
  }
  
  .banner img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 380px) {
  .logo p {
    font-size: 20px;
  }
    
  .nav-menu ol li a{
    font-size: 16px;
    padding: 0 0 0 20px;
  }
  
  .content-main {
    justify-content: center;
  }
  
  .banner {
    display: none;
  }
  
  .presentacion {
    width: 100%;
  }
  
  .redes {
    width: 250px;
  }
}