body {
	background-color: #02212b;
}

/*-----## Section Projects ##-----*/
.projects {
	background-color: #02212b;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 15px 15px 45px 15px;
	max-width: 1024px;
	margin: 0 auto;
	margin-bottom: 50px;
}